#Abilities {
    width: auto;
    font-size: 1.6em;
    border: 1px black solid;
    margin: 0.5%;
}
.ability-row {}
.ability-header {
    position: relative;
    width: 50%;
    left: 15%;
    text-align: center;
}
.ability-value {
    position: relative;
    width: 50%;
    text-align: center;
    left: -15%;
    z-index: 0;
}
