/* FINAL-ISH */

#App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  height: auto;
  font-size: calc(0.8vh + 0.1vw);
}

#background-img {
  position: sticky;
  bottom: 0%;
  width: 100%;
  z-index: -1;
  height: 100vh;
}
#logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 20%;
    min-height: 50px;
    width: 75%;
    margin-top: 10vh;
    margin-left: 12.5%;
    background-color:  rgb(184, 170, 70);
    border:  5px solid rgb(0, 0, 0);
    border-radius: 20px;
    opacity: 0.9;
}
#logo {
    width: 16vh;
    height: auto;
}
#logo-text {
    font-size: 2.6vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
#logo-text-Character {
    margin: 0%;
}
#logo-text-Generator {
   margin: 0%;

}



#header-before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  min-height: 14vh;
  max-height: 125px;
  top: 55vh;
  width: 100vw;
  font-size: 1.5em;
  background-color: rgb(184, 170, 70);
  outline: black 2px solid;
  opacity: 0.9;
}

#header-after {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 14vh;
  max-height: 125px;
  top: 2vh;
  position: sticky;
  z-index: 1;
  background-color: rgb(184, 170, 70);
  outline: black 2px solid;
}

#character-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 90%;
  width: 75%;
  font-size: calc(2vh + 2.2vw);
  text-align: start;


}




#character-title-name {
  font-size: 1em;
  -webkit-animation: bounce-top 0.9s both;
	        animation: bounce-top 0.9s both;
}

#the {
  position: relative;
  top: -0.2em;
  font-size: 0.5em;
  
}

#character-title-desc {
  position: relative;
  top: -0.2em;
  font-size: 0.8em;
}

.generate-button {
  position: relative;
  height: 4em;
  width: 40%;
  min-width: 6em;
 
  -webkit-box-shadow: inset 0px 0px 12px 0px #000000;
  box-shadow: inset 0px 0px 5px 0px #000000;
  border-radius: 10px;
}

#generate-button-before {
  margin-top: 1.11em;
  margin-bottom: 1.11em;

}

#generate-button-after {
  width: 15%;
  
}

p {
  margin: 2%;
}

th,
td {
  outline: 1px solid black;
}


