/* FINAL-ISH */

#App {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  height: auto;
  font-size: calc(0.5vh + 0.5vw);
  background-color: lightblue;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 14vh;
  max-height: 125px;
  top: 2vh;
  position:  sticky ;
  z-index: 1;
  background-color: rgb(80, 190, 166);
  border: black 2px solid;
}

#character-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 90%;
  width: 60%;
  text-align: start;
}

#character-title-name {
 
  font-size: 4.2em;
}

#the {
  position: relative;
  top: -5%;
  left: 40%;
  
  font-size: 2.5em;
}

#character-title-desc {
  position: relative;
 
  left: 10%;
  margin-left: auto;
  margin-right: auto;
  font-size: 3.5em;
}

.generate-button {
  position: relative;
  height: 4em;
  width: 40%;
  min-width: 6em;
  font-size: 2em;
  -webkit-box-shadow: inset 0px 0px 12px 0px #000000;
  box-shadow: inset 0px 0px 5px 0px #000000;

  border-radius: 10px;
}

#generate-button-before {
  margin-top: 1.11em;
  margin-bottom: 1.11em;
}

#generate-button-after {
  width: 15%;
}

p {
  margin: 2%;
}
