#CharSheet {
  height: auto;
  width: 90vw;
  margin:0%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 5vh;
}

#first-page {
    min-height: 120vh;
}
#second-page {
    min-height: 120vh;
}
#third-page {
    min-height: 120vh;
}
#forth-page {
    min-height: 120vh;
}

.page {
  display: flex;
  height: auto;
  width: 100%;
  margin-bottom: 2%;
  background-color: lightblue;
  animation: appear 0.5s 1.5s both;
}


@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.column-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 20;
}

.column {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5%;
  height: 85vh;
  width: 33%;
  flex-grow: 1;
  background-color: lightgrey;
  
}

#first-page {
  display: flex;
  flex-direction: column;
}

#summary {
  text-align: center;
  margin: 2%;
  font-size: 0.75em;
  font-style: italic;
  min-height: 50px;
  max-height:50px;
}

table {
    font-size: calc(0.5vh + 0.5vw);
    margin: 1%;
    flex-grow: 1;
}

.table {
    font-size: calc(0.5vh + 0.5vw);
    margin: 1%;
    flex-grow: 1;
    border: 1px black solid;
}

