#Equipment {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  text-align: center;
  height:30em;
  width: 100%;
  padding-top: 3%;
 padding-bottom:5%
}

.equipment-table {
  display: flexbox;
  width: 95%;
}

#weapons-table,
#armor-table {
  width: 98%;
  height:12em;
  border: 1px black solid;
}
#weapons-header,
#armor-header {
    font-size: 2em;
  margin: 0%;
  margin-top: 1%;
}
.weapons-table-row {
  display: flexbox;
}
.weapons-table-header {
  font-size: 0.6em;
  width: 10%;
  border: 1px black solid;
}
.weapons-table-value {
  display: flexbox;
  font-size: 0.6em;
  max-width: 30px;
  
flex-grow: 1;
  border: 1px black solid;
}


.armor-table-header {
    display: flexbox;
    flex-grow: 2;
  font-size: 1em;
  width: 10%;
  border: 1px black solid;
}
.armor-table-value {
  font-size: 0.6em;

  border: 1px black solid;

}
