#Features {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    margin-bottom: 5%;
}

.feature-header {
  text-align: center;
  font-size: 0.8em;
  margin: 1%;
}
.feature-paragraph {
  text-align: center;
  font-size: 0.6em;
  margin: 0%;
  width: 90%;
}
