#Items {
  height: 50%;
  outline: 1px black solid;
  margin-top: 1.5%;
}

#items-header {
    text-align: center;
}

#items-container {
  display: flex;
  justify-content: space-between;
  margin: 1%;
max-height: 80%;
}
#items-table-header {
  text-align: center;
  
}

#items-table1 {
  width: 50%;
}
#items-table2 {
  width: 50%;
}
#item-name {
   width: 6vw;
}

.items-table-value {
  text-align: center;
}
