#Items {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-grow: 1;
  width: 100%;
}
#items-header {
    font-size: 2em;
    margin: 0%;
    margin-top: 1%;
}
.items-table-header {
   
  border: black 1px solid;
  flex-grow: 1;
}
.items-table-value {
    max-width: 30px;
  border: black 1px solid;
}
