#Skills {
   
    flex-grow: 1;
    border: 1px black solid;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    font-size: calc(0.85vh + 0.05vw);
}

#skills-table {
    width: 100%;
}

.skill-name {
    font-size: 1.25em;
}

.skill-value {
    text-align: center;
    font-size: 1.25em;
}