#Skills {
  height: 42%;
  font-size: 1.05em;
}

#skills-table {
    position: relative;
  width: 100.75%;
  left: -0.25%;
  outline: none;
}

.skill-name {
  padding: 0%;
}

.skill-value {
  padding: 0%;
  text-align: center;
  
}
